.container {
    text-align: left;
    margin-left: max(10vmin, 10vw);
    margin-top: max(2vmin, 2vh);
    font-family: Iosevka;
    font-size: 18px;
}

.title {
    font-size: 36px;
}

.textBlock {
    font-size: 18px;
    width: max(30vw, 70vmin);
}

:global a {
    color: #000;
}

:global ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
}

.linksLi {
    padding-right: max(50px, 10vmin);
    padding-bottom: 1vmin;
    font-size: 18px;
}

.linksLi a{
    text-decoration: none;
}

.linksLi a:hover{
    text-decoration: underline;
}

.pageLink {
    text-decoration: none;
}

.articleTitle {
    font-size: 27px
}