.container {
    text-align: left;
    margin-left: max(10vmin, 10vw);
    margin-top: max(5vmin, 5vh);
    font-family: Iosevka Curly Extended;
}

.navUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navLi {
    text-decoration: none;
    float: left;
    padding-right: max(50px, 5vmin);
    font-size: 27px
}
.navLi a:hover{
    text-decoration: underline;
}

.pageLink {
    text-decoration: none;
}